Libraries/CoreDomain/Service References/SecureAdsService/Ad4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SAI.Service.API.DataContract.Security" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SAI.Service.API.DataContract.Security" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ApiAuthen">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApiKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApiAuthen" nillable="true" type="tns:ApiAuthen" />
</xs:schema>